/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  
  .sidebar.showSidebar {
    transform: translateX(0);
  }
  
  .sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    display: block;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .sidebar a:hover {
    background-color: green;
    /* 575757 */
  }

  .sidebar a.active {
    background-color: green;
    color: black;
  }
  
  /* Menu button styles */
  .menu-button {
    display: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu-button {
      display: block;
      margin-left: auto; /* Push button to the right */
      margin-right: 15px; /* Add some spacing from the right edge */
    }
  
    .links {
      display: none !important; /* Added !important to ensure links are hidden */
    }

    nav {
        padding: 0 10px;
        width: 100%;
        justify-content: space-between;
    }

    nav div {
        min-width: auto;
        width: 100%; /* Allow div to take full width */
        display: flex;
        justify-content: flex-end; /* Align content to the right */
        padding-right: 5px; /* Add small padding */
    }
  }
    
  /* Anchors styles */
  .anchors {
    display: flex;
    justify-content: space-around;
  }
  
  /* Navigation styles */
  nav, nav div {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
  }

  nav {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .links {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 20px;
  }

  nav img {
    width: 40px;
    height: 40px;
    mix-blend-mode: multiply;
    background-blend-mode: overlay;
  }

  nav div {
    width: auto;
    min-width: 300px;
    margin-left: 20px;
  }

  nav a {
    font-size: 1.4rem; /* Increased font size */
    text-decoration: none;
    color: black;
    white-space: nowrap;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #E20074;
  }