body{
    background-size:cover;
    background-repeat:no-repeat; 
    /* background: linear-gradient(15deg,#00416A,#E4E5E6); */
    /* background: linear-gradient(135deg, #1f2937 0%, #4b5563 100%); */
}

#root{
    background-size:cover;
    background-repeat:no-repeat; 
    /* background: linear-gradient(15deg,#00416A,#E4E5E6); */
    /* background: linear-gradient(135deg, #1f2937 0%, #4b5563 100%); */
}